* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(320deg, lightpink, hotpink);
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calcwrapper {
  background-color: rgba(255, 255, 255, 0.355);
  height: 80%;
  margin: 0;
  padding: 0;
  width: 80%;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.405);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.screen {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(142, 142, 142);
  font-size: 60px;
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.489);
  height: 25%;
  width: 95%;
  margin: 10px;
  margin-bottom: 5px;
  border-radius: 40px;
  overflow:hidden;
}
.buttonarea {
  background-color: rgba(255, 255, 255, 0.279);
  height: 75%;
  width: 95%;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numbers {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  height: 15%;
  width: 100%;
  align-items: center;
  margin: 10px;
}
.number {
  font: inherit;
  color: rgb(142, 142, 142);
  height: 100%;
  width: 100%;
  border-radius: 200px;
  margin: 10px;
  border: none;
}
.number:hover {
  background-color: rgb(255, 142, 199);
}
.numcontainer {
  width: 80%;
  height: 20%;
}
.symbol{
  color:rgb(255, 255, 255);
  background-color: rgb(255, 159, 239);
  height: 100%;
}
.symbol:hover{
  background-color: rgb(251, 129, 255);
}

