body{
    background-color: aquamarine;
}
h1{
    margin: 20px 10px 10px 10px;
    padding: 10px;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-size: 50px;
    border-radius: 20px;
    text-align: center;
    color:white;
    font-family: 'Jaro',sans-serif;
    background-color: lightsalmon;
}
.boss{
    
    width: 200px;
    /* height: 30px; */
    display: grid;
    margin: auto;
}
.chaderoid{
    
    border-radius: 5px;
    margin: auto;
    width: 150px;
    padding: 10px;
    color:white;
    background-color: lightsalmon;
    border: none;
    font-family: 'Jaro',sans-serif;
    font-size: 30px;
}
.chaderoid:hover{
    background-color: darksalmon;
    color:black;
}

