* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  background-color:#101820;
}
#header {
  width: 100%;
  height: 25vh;
  background-color:#FF768B;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar {
  width: 100%;
  height: 5vh;
  background-color: black;
}
#remain {
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* background-color: rgb(0, 57, 10); */
}
#leftpane {
  width: 25%;
  height: 100vh;
  /* background-color: rgb(103, 27, 27); */
  color:#101820;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightPane {
    display: flex;
    justify-content: center;
  width: 100%;
  /* height: 100%; */
  /* background-color: rgb(116, 92, 183); */
}
#header h1 {
  /* font-family: "Source Code Pro", monospace; */
  color:#101820;
  font-size: 50px;
  padding-right: 10px;
  padding-left: 10px;
}
#header img{
  height: 80%;
  border-radius: 20px;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar a{
    color: #FF768B;
}
#navbar a:hover{
    color:rgb(230, 153, 38);
    cursor: pointer;
}
#rightPane #container{
    width: 97%;
    padding: 20px;
}
#leftpane #container{
  width: 85%;
  height: 95%;
  padding: 10px;
  border-radius: 5px;
  background-color:  #FF768B;
  font-weight: 900;
}
#remain{
  color:white;
}

#rightPane #container h1,
#rightPane #container h2,
#rightPane #container h3,
#rightPane #container h4,
#rightPane #container h5,
#rightPane #container h6 {
    color:#FF768B;
}

#leftpane #container h1,h2,h3,h4,h5,h6{
  color:#101820;
}
p{
  margin-bottom: 20px ;
}
#leftpane #container ul{
padding: 10px;
}
#leftpane #container li{
  padding-bottom: 10px;
}
