body{
    background-color: beige;
    margin: 0px;
}
header{
    margin: 0px;
    text-align: center;
    background-color: rgb(190, 190, 174);
    color:aliceblue;
    padding: 50px;
    font-size: 90px;
    font-family: comfortaa;
    font-stretch:extra-expanded;
}
main{
    margin: 20px;
    color:white;
    text-align: center;
    background-color: rgb(109, 124, 120);
    font-family: comfortaa;
    padding: 30px;
}
img{
    align-items: center;
    border-radius: 50%;
}