body {
  margin: 0px;
  background-color: black;
}
h1 {
  margin: 0px;
  padding: 30px;
  background-color: rgba(222, 28, 30, 255);
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}
p {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  font-family: "Jaini", system-ui;
}
span {
  color: rgba(222, 28, 30, 255);
  font-size: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
footer {
  padding: 30px;
  margin: 0px;
  margin-bottom: 0px;
  background-color: rgba(222, 28, 30, 255);
  color: black;
}
nav {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
  padding: 5px;
  font-style: normal;
  color: rgba(222, 28, 30, 255);
  background-color: white;
}
