*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

#paymentFormContainer{
    padding:10px 20px;
    background-color: beige;
    width: 80%;
    height: 90%;
    border: 2px solid black;
}



