body{
    display: flex;

    margin:0;
    box-sizing: border-box;
    height: 100vh;
}
#box1{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
#box2{
    height: 80%;
    width: 80%;
    background-color: brown;
}
#box3{
    height: 15%;
    width: 70%;
    background-color: cadetblue;
}
#box4{
    height: 40%;
    width: 80%;
    background-color: chartreuse;
}
#box5{
    width: 20%;
}
