*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 40%;
    aspect-ratio: 1;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
#but1{
    height: 30%;
    width: 60%;
    border-radius: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 3px 8px;
    background-color: rgb(0, 145, 145);
    color:white;
}