html {
  text-align: center;
  background-color: black;
  color: white;
}
p{
    font-size: 40px;
    padding: 10px;
    margin-bottom: 0px;
    font-weight: 900;
}
#whitebox {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  width: 600px;
  margin-top: 10%;

  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
}
#box {
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    width: 600px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
  background-color: black;
  color: white;
}
li{
    margin: 10px;
    /* background-color: green; */
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font-size: 25px;
}
#green{
    color:lightgreen;
    font-size: 30px;
}
li:hover{
    border-radius: 10px;
    background-color: rgba(169, 169, 169, 0.515);
}
