body{
    /* F1F1F2 */
    background-color: #F96167;
    background-image: url("mountain.jpg");
    background-size: 70%;
    background-attachment: fixed;
    font-family: "Comfortaa", sans-serif;
    font-style: bold;
    font-size: 50px;
}
h1{
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px;
    padding:30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
p{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(124, 52, 52, 0.5);
    font-style: bold;
}
.girl{
    color:hotpink;
}
.boy{
    color:deepskyblue
}