body{
    height: 100vh;
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("set-of-night-icon-in-doodle-style-cute-and-minimalist-illustration-designprint-free-vector.jpg");
    background-size: 350px;
}
#formContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    border-radius: 20px;
    text-align: center;
    margin: 100px;
    padding:5px;
    background-color: rgba(181, 215, 228, 0.931);
    color:rgb(38, 97, 104);
    height: 80vh;
    width: 80%;
}
#heading{
    
    font-size: 30px;
    font-weight: 400;
}
#actualContainer{
    padding: 10px;
    text-align: left;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(83, 42, 165, 0.572);
}
.specifier{
    color:rgb(107, 51, 112);
    font-size: 30px;
}
input,textarea{
    font-size: 20px;
    color:white;
    background-color: rgba(184, 244, 250, 0.861);
    border-radius: 10px;
    width: 100%;
    height: 50%;
    border:none;
    
}